body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: #0f172a;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    border: 8px solid #0f172a;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #fb7185;
    padding: 0.5em;
    font-weight: 700;
    color: #f1f5f9;
    text-align: center;
    border: 8px solid #e11d48;
    border-radius: 8px;
    margin: 5px;
}